asgiref==3.8.1
Django==5.1.4
django-seed==0.3.1
djangorestframework==3.15.2
Faker==33.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
six==1.17.0
sqlparse==0.5.2
toposort==1.10
typing_extensions==4.12.2
tzdata==2024.2
